// Colors theme 1
$mainBackground: hsl(222, 26%, 31%);
$toggleBackground-keypadBackground: hsl(223, 31%, 20%);
$screenBackground: hsl(224, 36%, 15%);
$textWhite: hsl(0, 0, 100%);
$keyBackgroundBlue: hsl(225, 21%, 49%);
$keybackgroundOrange: hsl(6, 63%, 50%);
$keyShadowRed: hsl(6, 70%, 34%);
$keyShadowBlue: hsl(224, 28%, 35%);
$keyBackgroundWhite: hsl(30, 25%, 89%);
$keyShadowWhite: hsl(28, 16%, 65%);

//Colors theme 2
$mainBackground2: hsl(0, 0%, 90%);
$toggleBackground-keypadBackground2: hsl(0, 5%, 81%);
$screenBackground2: hsl(0, 0%, 93%);
$textWhite2: hsl(0, 0, 100%);
$keyBackgroundBlue2: hsl(185, 42%, 37%);
$keybackgroundOrange2: hsl(25, 98%, 40%);
$keyShadowRed2: hsl(25, 99%, 27%);
$keyShadowBlue2: hsl(185, 58%, 25%);
$keyBackgroundWhite2: hsl(45, 7%, 89%);
$keyShadowWhite2: hsl(35, 11%, 61%);
$text2: hsl(60, 10%, 19%);

//Colors theme 3
$mainBackground3: hsl(268, 75%, 9%);
$toggleBackground-keypadBackground3: hsl(268, 71%, 12%);
$screenBackground3: hsl(268, 71%, 12%);
$textWhite3: hsl(0, 0, 100%);
$keyBackgroundBlue3: hsl(281, 89%, 26%);
$keybackgroundOrange3: hsl(176, 100%, 44%);
$keyShadowRed3: hsl(177, 92%, 70%);
$keyShadowBlue3: hsl(285, 91%, 52%);
$keyBackgroundWhite3: hsl(268, 47%, 21%);
$keyShadowWhite3: hsl(290, 70%, 36%);
$text3: hsl(52, 100%, 62%);